.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 0 0 2px rgb(0, 0, 0);
}

.navbar {
  display: flex;
}

.link {
  color: black;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  padding: 14px 16px;
}

.button {
  display: none;
  font-size: 17px;
  padding: 0 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.link:hover:not(.link.active), .button:hover {
  background-color: rgb(197, 197, 197);
}

.link.active {
  background-color: var(--primary-green);
}

@media screen and (max-width: 600px) {
  .header {
    position: relative;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar {
    display: none;
    position: absolute;  
    left: 0;
    top: 101%;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 2px rgb(0, 0, 0);
  }

  .navbar.mobile {
    display: flex;
    flex-direction: column;
  }
}