.container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.react-paginate {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.react-paginate li {
  float: left;
  margin: 0 4px;
}

.react-paginate a {
  display: block;
  padding: 8px 16px;
  color: black;
  border: 1px solid #dddddd;
  cursor: pointer;
  transition: background-color .3s;
}

.react-paginate a:hover:not(li[class="selected"] > a) {
  background-color: #dddddd;
}

.react-paginate li[class="selected"] > a {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}