.footer {
  min-height: 80px;
  box-shadow: 0 0 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding: 40px 20px;
}

.footer p {
  margin: 0;
  color: var(--universe-black);
}

.link {
  text-decoration: none;
  color: var(--ocean-blue);
}

.link:hover {
  text-decoration: underline;
}