.main {
  padding: 80px 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container hr {
  width: 100%;
}

.character-container {
  display: flex;
  gap: 20px;
}

.character-image {
  border-radius: 8px;
}

.character-name {
  margin-top: 0;
  font-size: 2.5em;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-row {
  display: grid;
  grid-template-columns: 110px auto;
}

.info-row>span {
  color: rgb(82, 82, 82);
}

.info-attribute {
  display: flex;
  align-items: center;
  gap: 5px;
}

.info-attribute svg {
  font-size: 1.2em;
}

.episodes-title {
  margin-top: 0;
  font-size: 2em;
}

.episodes-list {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: space-between;
}

.episode-item {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 8px;
}

.episode-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: rgb(82, 82, 82);
}

.episode-link {
  text-decoration: none;
  color: rgb(19, 171, 231);
}

.episode-link:hover {
  text-decoration: underline;
}

@media screen and (width <=700px) {
  .character-container {
    flex-direction: column;
  }

  .character-image {
    margin: auto;
  }

  .character-name {
    font-size: 2.3em;
    text-align: center;
  }

  .episodes-title {
    font-size: 1.67em;
  }

  .episodes-list {
    grid-template-columns: 100%;
  }
}

@media screen and (width <=400px) {
  .character-image {
    width: 100%;
    height: auto;
  }

  .character-name {
    font-size: 1.6em;
  }

  .info-container {
    gap: 16px;
  }

  .info-row {
    grid-template-columns: auto;
  }

  .info-row>span {
    font-size: 0.9em;
  }

  .episodes-title {
    font-size: 1.2em;
  }

  .episode-link {
    font-size: 0.9em;
  }
}