.main {
  padding-top: 40px;
  padding-bottom: 40px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container hr {
  width: 100%;
}

.location-name {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 15px;
}

.location-info {
  display: grid;
  grid-template-columns: 100px auto;
  row-gap: 5px;
}

.location-info>span {
  color: rgb(82, 82, 82);
}

.residents-title {
  margin-top: 0;
  font-size: 2em;
}

.no-residents {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(82, 82, 82);
}

@media screen and (width <=600px) {
  .location-name {
    font-size: 2.5em;
  }

  .residents-title {
    font-size: 1.67em;
  }
}

@media screen and (width <=400px) {
  .location-name {
    font-size: 2em;
  }

  .location-info>span {
    font-size: 0.9em;
  }

  .residents-title {
    font-size: 1.34em;
  }

  .no-residents {
    font-size: 0.9em;
  }
}