.main {
  max-width: 1200px;
  margin: auto;
}

.title-container {
  display: flex;
  justify-content: center;
  margin: 60px;
}

.home-title {
  margin: 0;
  font-size: 5em;
  color: var(--primary-green);
}

.home-subtitle {
  margin: 0;
  font-size: 1.3em;
  color: rgb(107, 114, 128);
}

.intro-list {
  display: flex;
  flex-direction: column;
  gap: 160px;
  margin: 100px 0;
}

.intro-container {
  display: flex;
  align-items: center;
  gap: 48px;
}

.intro-reverse {
  flex-direction: row-reverse;
}

.intro-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 3em;
}

.intro-text {
  margin: 0;
  font-size: 1.3em;
  color: rgb(107, 114, 128);
  text-wrap: balance;
}

.intro-link {
  display: inline-block;
  margin-top: 15px;
  padding: 14px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  color: var(--neutral-background);
  background-color: rgb(19, 171, 231);
}

.intro-image {
  width: 550px;
  height: auto;
  border-radius: 14px;
}