.main {
  max-width: 1200px;
  margin: auto;
}

.title-container {
  display: flex;
  justify-content: center;
  margin: 60px 40px;
}

.home-title {
  margin: 0;
  font-size: 5em;
  color: var(--primary-green);
}

.home-subtitle {
  margin: 0;
  font-size: 1.3em;
  color: var(--storm-grey);
}

.intro-list {
  display: flex;
  flex-direction: column;
  gap: 160px;
  margin: 100px 40px;
}

.intro-container {
  display: flex;
  align-items: center;
  gap: 48px;
}

.intro-reverse {
  flex-direction: row-reverse;
}

.intro-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-size: 3em;
  color: var(--universe-black);
}

.intro-text {
  margin: 0;
  font-size: 1.3em;
  color: var(--storm-grey);
  text-wrap: balance;
}

.intro-link {
  display: inline-block;
  margin-top: 15px;
  padding: 14px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  color: var(--neutral-background);
  background-color: var(--ocean-blue);
}

.intro-image {
  width: 550px;
  height: auto;
  border-radius: 1em;
}

@media screen and (width<=1200px) {
  .intro-container {
    gap: 38px;
  }

  .intro-info,
  .intro-image {
    width: 50%;
  }

  .intro-title {
    font-size: 2em;
  }

  .intro-text {
    font-size: 1em;
  }

  .intro-link {
    font-size: 0.9em;
  }
}

@media screen and (width<=900px) {
  .title-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .home-title {
    font-size: 4em;
  }

  .home-subtitle {
    font-size: 1em;
  }

  .intro-list {
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 120px;
  }

  .intro-container {
    gap: 28px;
  }

  .intro-title {
    font-size: 1.5em;
  }

  .intro-text {
    font-size: 0.9em;
  }

  .intro-link {
    font-size: 0.8em;
  }
}

@media screen and (width<=800px) {
  .intro-list {
    gap: 80px;
  }
  
  .intro-container {
    flex-direction: column;
    gap: 18px;
  }

  .intro-info,
  .intro-image {
    width: 100%;
  }
}

@media screen and (width<=500px) {
  .home-title {
    font-size: 3em;
  }

  .home-subtitle {
    font-size: 0.9em;
  }
}

@media screen and (width<=400px) {
  .title-container,
  .intro-list {
    margin-left: 20px;
    margin-right: 20px;
  }
}