.card-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--neutral-background);
  transition: 0.3s;
  border-radius: 5px;
  padding: 20px;
}

.card-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  align-items: center;
  gap: 14px;
}

.card-icon {
  min-width: 60px;
  min-height: 60px;
  font-size: 1.5em;
  color: var(--galactic-purple);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.card-title {
  text-decoration: none;
  text-wrap: balance;
  color: var(--universe-black);
  font-size: 1.3em;
  font-weight: 600;
}

.card-title:hover {
  color: var(--primary-green);
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card-info>span:first-of-type {
  color: var(--storm-grey);
  font-weight: 600;
}

.card-info>span:last-of-type {
  color: var(--universe-black);
}