.main {
  max-width: 1200px;
  margin: auto;
}

.main>h1 {
  text-align: center;
  font-size: 4em;
  color: var(--primary-green);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media screen and (width <=350px) {
  .main>h1 {
    font-size: 3em;
  }
}