.main {
  padding: 80px 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container hr {
  width: 100%;
}

.character-container {
  display: flex;
  gap: 20px;
}

.character-image {
  aspect-ratio: 1/1;
  width: 300px;
  border-radius: 8px;
  background-color: rgb(197, 197, 197);
}

.character-name {
  width: 280px;
  height: 47px;
  margin-bottom: 26.8px;
  background-color: rgb(197, 197, 197);
  border-radius: 8px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-row {
  display: grid;
  grid-template-columns: 110px auto;
}

.info-attribute {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(82, 82, 82);
}

.info-attribute svg {
  font-size: 1.2em;
}

.info-attribute+div {
  width: 180px;
  height: 20px;
  border-radius: 5px;
  background-color: rgb(197, 197, 197);
}

.episodes-title {
  margin-top: 0;
  font-size: 2em;
}

.episode-item {
  display: flex;
  align-items: flex-start;
  gap: 6px;
  margin-bottom: 8px;
}

.episode-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: rgb(82, 82, 82);
}

.episode-link {
  width: 260px;
  height: 20px;
  border-radius: 5px;
  background-color: rgb(197, 197, 197);
}

@media screen and (width <=700px) {
  .character-container {
    flex-direction: column;
  }

  .character-image {
    margin: auto;
  }

  .character-name {
    height: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .episodes-title {
    font-size: 1.67em;
  }
}

@media screen and (width <=400px) {
  .character-image {
    width: 100%;
  }

  .character-name {
    width: 80%;
    height: 31px;
  }

  .info-container {
    gap: 16px;
  }

  .info-row {
    grid-template-columns: auto;
  }

  .info-row>span {
    font-size: 0.9em;
  }

  .info-attribute+div {
    width: 160px;
    height: 17px;
  }

  .episodes-title {
    font-size: 1.2em;
  }

  .episode-icon+div {
    width: 100%
  }

  .episode-link {
    width: 90%;
    height: 17px;
  }
}